html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
}

/* 头部样式 */
#header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 112);
    color: white;
    font-size: 20px;
}

#header #website_name {
    margin-left: 20px;
    font-size: 30px;
    font-style: italic;
}

#header #navigator {
    margin-left: auto;
}

#header #navigator ul {
    height: 100%;
    display: flex;
}

#header #navigator ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    width: 150px;
}

#header a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px 40px;
}

#header a:hover {
    color: rgb(255, 187, 0);
}

/* 主体样式 */
.wrapper-flex {
    display: flex;
    height: 90%;
    width: 100%;
}

.wrapper-flex .left {
    flex: 0 0 auto;
}

.wrapper-flex .right {
    flex: auto;
}

.left {
    width: 90%;

}

#tsb {
    height: 100px;
    width: 100px;
}

.box {
    width: 115px;
}

#tsb_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tsb_div #tsb_button {
    width: 100px;
    border-radius: 5px;
}

#header nav a.here:link,
#header nav a.here:visited,
#header nav a.here:hover,
#header nav a.here:active {
    color: rgb(255, 187, 0);
}

/* 工具条样式 */
#toolbarDiv {
    position: absolute;
    top: 170px;
    left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* 信息条样式 */
#info {
    z-index: 99;
    position: absolute;
    top: 90px;
    left: 50%;
    padding: 5px;
    margin-left: -175px;
    height: 30px;
    width: 355px;
    background: rgba(25, 25, 25, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}